<% title "My Lists" %>

<table>
  <% for todo in @todos %>
    <tr>
      <td><%= link_to todo.name, todo %> (<%= pluralize(todo.items_count, 'item') %>)</td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New List", new_todo_path %></p>
